.yetty-heading {
  font-size: 75px;
  font-weight: 700;
  color: var(--yetty-black);
}

.router-active-menu {
  background-color: var(--yetty-yellow) !important;
  color: #fff !important;
}

.default-btn {
  background-color: #fafaf9;
  color: var(--yetty-black);
  border-radius: 20px;
  width: 100%;
  outline: none;
  border: none;
  height: 90px;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}
