<div class="container" *ngIf="showMenuOption">
  <div class="yetty-heading text-center mb-5">Menu</div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
      <button
        class="default-btn"
        routerLink="menu-items"
        routerLinkActive="router-active-menu"
      >
        MENU
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
      <button
        class="default-btn"
        routerLink="check"
        routerLinkActive="router-active-menu"
      >
        Check
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
