<div class="container">
    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div>
                <div class="yetty-heading" [innerHTML]="'landingPage.yetty-Hero-Section-Title' | translate"></div>
                <div class="scan" (click)="navigateTo('/home')"
                    [innerHTML]="'landingPage.yetty-Hero-Section-Sub-Title' | translate"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid" src="/assets/images/spghetti.png" alt="Yetty">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="yetty-heading yellow" [innerHTML]="'landingPage.yetty-About-Section-First-Title' | translate">
                About yetty</div>
            <div class="about-yetty" [innerHTML]="'landingPage.yetty-About-Section-First-Description' | translate">
                Yetty is a digital menu and serving optimization cloud-based web service for restaurants, diners, bars
                and other kinds of food establishments. It aims to make ordering food and drinks in any establishment
                easy for customers and personnel and to reduce significantly the trips waiters and other personnel
                have to make in order to serve customers.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="light-circle text-center">
                <div class="dark-circle">
                    <img class="img-fluid" src="/assets/images/chef-serving.png" alt="Yetty">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="light-circle text-center">
                <div class="dark-circle">
                    <img class="img-fluid" src="/assets/images/egg-dish.png" alt="Yetty">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
            <div class="about-yetty" [innerHTML]="'landingPage.yetty-About-Section-Second-Description' | translate">
                Yetty is a digital menu and serving optimization cloud-based web service for restaurants, diners, bars
                and other kinds of food establishments. It aims to make ordering food and drinks in any establishment
                easy for customers and personnel and to reduce significantly the trips waiters and other personnel
                have to make in order to serve customers.
            </div>
        </div>
    </div>


</div>
<div class="container-fluid py-4" style="background-color: #ECF9F066;">
    <div>
        <div class="row mt-5">

            <div class="col-lg-5 col-md-5 col-sm-12 px-0 mb-5">
                <img class="img-fluid" src="/assets/images/table.png" alt="Yetty">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 d-flex align-items-center justify-content-center">
                <div style="max-width: 700px;">
                    <div class="yetty-heading">Let's Join <span class="yellow">a table</span></div>
                    <div class="about-yetty">
                        To reserve a table you need to scan the QR first and then you will be able to view the complete
                        menu and
                        reserve the table and avail different offers.
                    </div>
                    <!-- [innerHTML]="'landingPage.yetty-About-Section-Second-Title' | translate" -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container mb-5">
    <div class="contact-form">
        <div class="text-center yetty-heading">Contact us</div>
        <div class="text-center">We love hearing from our customers. Feel free to share your experience or ask any questions you may have.</div>
        <div class="form-container mt-5">
            <div class="row gy-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <input type="text" class="form-input" placeholder="First name">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <input type="text" class="form-input" placeholder="Last name">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>

                        <input type="email" class="form-input" placeholder="Email address">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>

                        <input type="text" class="form-input" placeholder="Subject">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <textarea style="height: 400px;" class="form-input" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="w-100 mt-5 text-center"><button class="yellow-btn w-50">Submit</button></div>
        </div>
    </div>
</div> -->