<!-- Toast Notification -->
<div
  class="container-fluid"
  style="background-color: var(--yetty-green); height: 80px"
>
  <div class="container h-100">
    <div class="--toast-container">
      <div class="--toast-detail">
        <div class="--toast-message">Order placed Successfully</div>
        <div class="--toast-detail">View Order details</div>
      </div>
      <div class="--toast-action">
        <img
          width="40px"
          height="40px"
          src="/assets/images/icons/order-close.svg"
          alt="close"
        />
      </div>
    </div>
  </div>
</div>

<!-- Order container -->
<div
  class="container mt-5 mb-5"
  style="
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
    padding: 0;
    border-radius: 20px;
  "
>
  <div class="order-header mb-5">MY ORDER</div>
  <div class="row mt-5 p-4">
    <div *ngIf="isNewOrderAvaiable" class="col-lg-3 col-md-6 col-sm-12 mt-4">
      <div class="light-green-bg p-4">
        <button class="order-type-header">New Order</button>
        <div *ngFor="let newOrder of newOrders" class="order-item">
          <div class="item-name">
            {{ newOrder?.menuItem ? newOrder?.menuItem : "NA" }}
          </div>
          <div class="item-price">
            ${{ newOrder?.price ? newOrder?.price.toFixed(2) : "NA" }}
          </div>
          <div class="item-actions d-flex justify-content-between">
            <button
              class="preferance-btn"
              type="button"
              data-bs-target="#PreferenceModal"
              data-bs-toggle="modal"
              (click)="onClickEditOrder(newOrder)"
            >
              Preference
            </button>
            <button
              class="remove-btn"
              (click)="onClickRemoveOrder(newOrder?.id)"
            >
              Remove
            </button>
          </div>
        </div>
        <!-- price totals -->
        <div class="totals mt-5">
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Subtotal</div>
            <div class="item-price">${{ getSubTotal(newOrders) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Tax fee</div>
            <div class="item-price">${{ taxFee.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Voucher</div>
            <div class="item-price">${{ voucher.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Total</div>
            <div class="item-price">${{ getTotal(newOrders) }}</div>
          </div>
          <button (click)="sendNotSentOrder()" class="send-btn">
            Send All
          </button>
        </div>
      </div>
    </div>
    <!-- Sent Order -->
    <div *ngIf="isSentOrderAvaiable" class="col-lg-3 col-md-6 col-sm-12 mt-4">
      <div class="light-green-bg p-4">
        <button class="order-type-header">Sent Order</button>
        <div *ngFor="let sentOrder of sentOrders" class="order-item">
          <div class="item-name">
            <mat-checkbox
              (change)="onCheckBoxChange($event, sentOrder)"
              color="primary"
              ><span class="check-item">{{
                sentOrder?.menuItem ? sentOrder?.menuItem : "NA"
              }}</span></mat-checkbox
            >
          </div>
          <div class="item-price">
            ${{ sentOrder?.price ? sentOrder?.price.toFixed(2) : "NA" }}
          </div>
          <div class="item-actions d-flex justify-content-between">
            <button
              (click)="cancelSentOrder(sentOrder?.id)"
              class="preferance-btn"
            >
              Cancel
            </button>
          </div>
        </div>
        <!-- price totals -->
        <div class="totals mt-5">
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Subtotal</div>
            <div class="item-price">${{ getSubTotal(sentOrders) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Tax fee</div>
            <div class="item-price">${{ taxFee.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Voucher</div>
            <div class="item-price">${{ voucher.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Total</div>
            <div class="item-price">${{ getTotal(sentOrders) }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirmed Order -->
    <div
      *ngIf="isConfirmedOrderAvaiable"
      class="col-lg-3 col-md-6 col-sm-12 mt-4"
    >
      <div class="light-green-bg p-4">
        <button class="order-type-header">Confirmed Order</button>
        <div *ngFor="let confirmedOrder of confirmedOrders" class="order-item">
          <div class="item-name">
            <mat-checkbox
              (change)="onCheckBoxChange($event, confirmedOrder)"
              color="primary"
              ><span class="check-item">{{
                confirmedOrder?.menuItem ? confirmedOrder?.menuItem : "NA"
              }}</span></mat-checkbox
            >
          </div>
          <div class="item-price">
            ${{
              confirmedOrder?.price ? confirmedOrder?.price.toFixed(2) : "NA"
            }}
          </div>
          <div class="item-actions d-flex justify-content-between">
            <button
              (click)="cancelSentOrder(confirmedOrder?.id)"
              class="preferance-btn"
            >
              Cancel
            </button>
          </div>
        </div>
        <!-- price totals -->
        <div class="totals mt-5">
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Subtotal</div>
            <div class="item-price">${{ getSubTotal(confirmedOrders) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Tax fee</div>
            <div class="item-price">${{ taxFee.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Voucher</div>
            <div class="item-price">${{ voucher.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Total</div>
            <div class="item-price">${{ getTotal(confirmedOrders) }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Served Order -->
    <div *ngIf="isServedOrderAvaiable" class="col-lg-3 col-md-6 col-sm-12 mt-4">
      <div class="light-green-bg p-4">
        <button class="order-type-header">Served Order</button>
        <div *ngFor="let servedOrder of servedOrders" class="order-item">
          <div class="item-name">
            <mat-checkbox
              (change)="onCheckBoxChange($event, servedOrder)"
              color="primary"
              ><span class="check-item">{{
                servedOrder?.menuItem ? servedOrder?.menuItem : "NA"
              }}</span></mat-checkbox
            >
          </div>
          <div class="item-price">
            ${{ servedOrder?.price ? servedOrder?.price.toFixed(2) : "NA" }}
          </div>
        </div>
        <!-- price totals -->
        <div class="totals mt-5">
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Subtotal</div>
            <div class="item-price">${{ getSubTotal(servedOrders) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Tax fee</div>
            <div class="item-price">${{ taxFee.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Voucher</div>
            <div class="item-price">${{ voucher.toFixed(2) }}</div>
          </div>
          <div class="subtotal d-flex justify-content-between">
            <div class="item-name">Total</div>
            <div class="item-price">${{ getTotal(servedOrders) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 transfer-btn-container">
    <button
      class="send-btn transfer"
      data-bs-toggle="modal"
      data-bs-target="#transferOrderModal"
    >
      Transfer Selected
    </button>
  </div>

  <!-- Transfer order 1 / select items -->
  <div
    class="modal fade modal-lg"
    id="transferOrderModal"
    tabindex="-1"
    aria-labelledby="transferOrderModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="transferOrderModalLabel">
            Choose another visitor to transfer the selected items to
          </h1>
        </div>
        <div class="modal-body">
          <div class="w-50">
            <select class="form-select" style="height: 50px">
              <option value="0">Select Recipient</option>
              <ng-container *ngFor="let visitors of tableInfo?.visitors">
                <option *ngIf="visitors.id != visitorId" [value]="visitors.id">
                  {{ visitors.name ? visitors.name : "NA" }}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="mt-3 mb-3 select-order">Select Order Items:</div>
          <div class="order-items-container">
            <div class="order-items d-flex justify-content-between w-50">
              <div class="order-item-name">Pizza x2</div>
              <div class="order-item-price">$48</div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <button class="transfer-btn">Transfer</button>
          <button type="button" class="cancel-btn" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Transfer order 2 / preference -->
  <div
    class="modal fade modal-lg"
    id="PreferenceModal"
    aria-hidden="true"
    aria-labelledby="PreferenceModalLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="PreferenceModalLabel">
            Type Preference or Instruction
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <textarea
              [(ngModel)]="comment"
              class="form-control"
              cols="30"
              rows="10"
              placeholder="Type any preference of Order..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <button (click)="onSaveEditOrder()" class="transfer-btn">Save</button>
          <button class="cancel-btn" #closebutton data-bs-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
