<div class="container-fluid p-4 mb-5" style="background-color: #ecf9f066">
  <div class="container mt-5">
    <div class="row mb-5 mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="yetty-heading">
          Welcome to <br />
          <span class="yellow">{{
            generalInfo?.name ? generalInfo?.name : "NA"
          }}</span>
        </div>
        <div class="about-yetty">
          {{ generalInfo?.description ? generalInfo?.description : "NA" }}
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="/assets/images/spghetti.png" alt="Yetty" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-5 mb-5">
    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="light-circle text-center">
                <div class="dark-circle">
                    <img class="img-fluid" src="/assets/images/egg-dish.png" alt="Yetty">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="yetty-heading yellow">About Crazy Potato</div>
            <div class="about-yetty">
                Yetty is a digital menu and serving optimization cloud-based web service for restaurants, diners, bars
                and other kinds of food establishments. It aims to make ordering food and drinks in any establishment
                easy for customers and personnel and to reduce significantly the trips waiters and other personnel
                have to make in order to serve customers.
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid mb-5">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <div class="table-info">
        <div class="yetty-heading">
          {{ tableInfo?.room ? tableInfo?.room : "NA" }} /
          {{ tableInfo?.name ? tableInfo?.name : "NA" }}
        </div>
        <div class="mb-3">Current Table Visitors</div>
        <div class="visitors" *ngFor="let visitor of tableInfo?.visitors">
          <ul>
            <li>{{ visitor?.name ? visitor?.name : "NA" }}</li>
          </ul>
        </div>
        <div>
          <input
            type="text"
            [(ngModel)]="customerName"
            class="join-table-input form-input mt-3"
            placeholder="Enter your name"
          />
        </div>
        <div class="w-100">
          <button
            class="yellow-btn w-100 mt-4"
            [disabled]="!customerName.length"
            (click)="addVisitorToTable()"
          >
            Join Table
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-0">
      <div>
        <img
          class="img-fluid join-table-img mt-5"
          src="/assets/images/join-table.png"
          alt="Yetty"
        />
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-5 mb-5">
    <div class="yetty-heading mb-5 text-center">Our Greatest Chefs</div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="chef">
                <div><img class="img-fluid" src="/assets/images/chef-1.png" alt="Yetty"></div>
                <div class="chef-name mt-4 text-center">Betran Komar</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="chef">
                <div><img class="img-fluid" src="/assets/images/chef-2.png" alt="Yetty"></div>
                <div class="chef-name mt-4 text-center">Ferry Sauwi</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="chef">
                <div><img class="img-fluid" src="/assets/images/chef-3.png" alt="Yetty"></div>
                <div class="chef-name mt-4 text-center">Iswan Dracho</div>
            </div>
        </div>
    </div>
</div> -->

<div class="container mt-5 mb-5 text-center">
  <div class="time-bg">
    <img
      class="d-block img-fluid"
      src="/assets/images/timing-bg.png"
      alt="Yetty"
    />
    <div class="time-table w-100">
      <div class="time-heading">We are open from</div>
      <div class="time-days">Monday-Sunday</div>
      <div class="time">Lunch: Mon-Sun : 11:00 AM - 02:00 PM</div>
      <div class="time">Dinner: Mon-Sun : 4:00 PM - 09:00 PM</div>
    </div>
  </div>
</div>
