<div
  *ngIf="establishmentInfo?.address?.length && isEstablishmentInfo"
  class="container-fluid nav-address d-flex"
>
  <div class="container d-flex align-items-center w-100">
    {{ establishmentInfo?.address ? establishmentInfo?.address : "NA" }}
  </div>
</div>

<div class="container">
  <div
    class="nav-container"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="logo-container">
      <img class="logo" src="/assets/images/yetty-logo.png" alt="Yetty" />
    </div>
    <div
      class="actions-container"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxFlex="75"
    >
      <ng-container *ngIf="true">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="80">
          <div *ngIf="IsVisitorAvailialbe" class="request-btn" fxFlex="20">
            <button
              class="green-round-btn"
              data-bs-target="#requestService"
              data-bs-toggle="modal"
            >
              {{
                serviceRequested?.requested
                  ? "Cancel Service Request"
                  : "Request Service"
              }}
            </button>
          </div>
          <div *ngIf="IsVisitorAvailialbe" class="leave-btn" fxFlex="20">
            <button class="green-round-btn" (click)="removeVisitorFromTable()">Leave Table</button>
          </div>
          <div class="bng" fxFlex="20">
            <select
              (change)="onBaseCurrencyChange($event)"
              class="form-control dropdown-height"
            >
              <option
                [selected]="baseCurrency"
                *ngFor="let item of establishmentInfo?.supportedCurrencies"
                [value]="item.code"
              >
                {{ item.name }}
              </option>

              <option
                *ngIf="!establishmentInfo?.supportedCurrencies?.length"
                value="EUR"
              >
                EUR
              </option>
            </select>
          </div>
        </div>
      </ng-container>
      <div class="language" fxFlex="20">
        <select
          (change)="onLanguageChange($event)"
          class="form-select dropdown-height"
        >
          <option
            *ngFor="let item of establishmentInfo?.supportedLanguages"
            [value]="item.code"
            [selected]="defaultLanguage == item.code ? item.code : 'en'"
          >
            {{ item.name }}
          </option>
          <option
            *ngIf="!establishmentInfo?.supportedLanguages?.length"
            [value]="'en'"
          >
            English
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Request service modal -->
  <div
    class="modal fade modal-lg"
    id="requestService"
    tabindex="-1"
    aria-labelledby="requestServiceLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mb-5 mt-2 request-header">Request Service</div>
          <h6 class="mb-5" *ngIf="serviceRequested?.requested">
            Already Requested
          </h6>
          <button
            (click)="requestServiceOnTable()"
            *ngIf="!serviceRequested?.requested"
            class="call-waiter-btn"
            data-bs-toggle="modal"
            data-bs-target="#requestService"
            data-bs-dismiss="modal"
          >
            Call Waiter
          </button>
          <button
            (click)="cancelServiceRequestOnTable()"
            *ngIf="serviceRequested?.requested"
            class="call-waiter-btn"
            data-bs-toggle="modal"
            data-bs-target="#requestService"
            data-bs-dismiss="modal"
          >
            Cancel Request
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
