<div class="container mt-5 mb-5">
    <div class="dish-type mb-5 mt-5">
        Menu Item
    </div>
    <div class="menu-detail-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="menu-detail-img text-center">
                    <img src="/assets/images/menu-spaghetti.png" alt="ITEM NAME">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 d-flex align-items-center">
               <div class="menu-item-detail">
                    <div class="item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas consequat.
                    </div>
                        <div class="menu-item-size">
                            <div class="size">Small</div>
                            <div class="size">Medium</div>
                            <div class="size size-selected">Large</div>
                        </div>
                    <div class="menu-weight-calories mt-4">
                        <div>400 g</div>
                        <div>800 calories</div>
                    </div>
                    <div class="menu-item-price d-flex mt-5" >
                        <div class="price">
                            Price: $12.04
                        </div>
                        <div class="menu-item-add">
                            <button class="add-btn">Add</button>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>

    <!-- Back to menu -->
    <button class="back-to-menu mt-5 mb-5" routerLink="/menu/menu-items">Back To Menu Page</button>

</div>