h1,
h5,
p {
  font-weight: 600;
  word-break: break-all;
  font-family: "Courier New", Courier, monospace;
}

div {
  text-align: center;
  background: #fdfdfd;

  button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 4px;

    &disabled {
      cursor: no-drop;
    }
  }

  .data {
    background: antiquewhite;
    border-radius: 5px;
  }
}

.dialog-title {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  button {
    background-color: var(--yetty-yellow);
    border-radius: 50%;
    height: 45px;
    width: 44px;
    margin: 4px;
  }
}
