<div class="container mb-5 mt-4">
  <div class="radio-btns">
    <mat-radio-group
      name="opList"
      aria-label="Select an option"
      color="primary"
    >
      <div *ngFor="let item of chekbox" class="radio-btn-container">
        <mat-radio-button
          name="opList"
          [value]="item.checked"
          [checked]="item.checked"
          (change)="onRadioButtonChange($event)"
          ><span class="check-item">{{ item.name }}</span></mat-radio-button
        >
      </div>
      <!-- <div class="radio-btn-container">
        <mat-radio-button
          value="false"
          [checked]="mine"
          (change)="onRadioButtonChange($event)"
          ><span class="check-item">Mine</span></mat-radio-button
        >
      </div> -->
    </mat-radio-group>
  </div>
</div>

<div class="container">
  <div class="check-container p-5 mb-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <button class="order-type-header">Item Name</button>
        <div class="item-name" *ngFor="let item of check?.items">
          <mat-checkbox
            [disabled]="!item.canBePaid"
            color="primary"
            [checked]="orderItemIds.includes(item.orderItemId)"
            (change)="onCheckboxChange(item, $event)"
            ><span class="check-item">
              {{ item?.menuItem ? item?.menuItem : "NA" }}
            </span></mat-checkbox
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <button class="order-type-header">Item Price</button>
        <div class="item-price" *ngFor="let item of check?.items">
          $ {{ item?.price ? item?.price : "NA" }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <button class="order-type-header">Visitor Name</button>
        <div class="item-price" *ngFor="let item of check?.items">
          {{ item?.visitor ? item?.visitor : "NA" }}
        </div>
      </div>
    </div>
    <div class="check-details-container mt-5 mb-5">
      <!--<div class="check-details">
                <div class="check-heading ">Discount:</div>
                <div class="check-value ">10%</div>
            </div>-->
      <div class="check-details">
        <div class="check-heading">Selected:</div>
        <div class="check-value">${{ selectedTotal.toFixed(2) }}</div>
      </div>
      <div class="check-details">
        <div class="check-heading">Total:</div>
        <div class="check-value">{{ check?.totalPrice | currency }}</div>
      </div>
    </div>
    <div class="check-btn-container">
      <button
        class="check-btn select-btn"
        (click)="orderItemIds.length ? onUnselecteAll() : onSelecteAll()"
      >
        Select/Unselect all
      </button>
      <button
        *ngIf="orderItemIds.length"
        (click)="onPayment()"
        class="check-btn pay-btn"
        data-bs-target="#paymentModal"
        data-bs-toggle="modal"
      >
        Pay for Selected
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade modal-lg"
  id="paymentModal"
  aria-hidden="true"
  aria-labelledby="transferOrderModalLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 w-100 text-center"
          id="transferOrderModalLabel2"
        >
          Payment
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          Amount: {{ orderItemPrice?.baseCurrency }}
          {{ orderItemPrice?.priceInBaseCurrency.toFixed(2) }}
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <ng-container *ngFor="let item of paymentMethods?.paymentMethods">
          <button
            *ngIf="!paymetTypes.includes(item.type)"
            (click)="requestOrderItemsPayment(item.type)"
            class="transfer-btn"
            [ngClass]="{
              'transfer-btn': item.type === 'CASH',
              'cancel-btn': item.type !== 'CASH'
            }"
            data-bs-dismiss="modal"
          >
            {{ item.name }}
          </button>
        </ng-container>

        <button
          (click)="requestOrderItemEPay()"
          class="cancel-btn"
          data-bs-dismiss="modal"
        >
          E-Pay
        </button>
      </div>
      <div class="mx-4 my-2">
        <div #paymentRef></div>
      </div>
    </div>
  </div>
</div>

<!-- E pay Form -->
<form #paytmForm [action]="settings?.URL" method="post">
  <input type="hidden" name="PAGE" [value]="settings?.PAGE" />
  <input type="hidden" name="ENCODED" [value]="settings?.ENCODED" />
  <input type="hidden" name="CHECKSUM" [value]="settings?.CHECKSUM" />
  <input type="hidden" name="URL_OK" [value]="settings?.URL_OK" />
  <input type="hidden" name="URL_CANCEL" [value]="settings?.URL_CANCEL" />
  <input type="hidden" name="LANG" value="EN" />
  <input type="submit" />
</form>
