<div class="container mb-5 mt-4">
    <div class="radio-btns">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedTable" color="primary" >
            <div class="radio-btn-container">
                <mat-radio-button value="my"><span class="check-item">Everyone's</span></mat-radio-button>
            </div>
            <div class="radio-btn-container">
                <mat-radio-button value="all"><span class="check-item">Mine</span></mat-radio-button>
            </div>
          </mat-radio-group>
    </div>
</div>


<div class="container">
    <div class="check-container p-5 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <button class="order-type-header">Item Name</button>
                <div class="item-name">
                    <mat-checkbox color="primary" ><span class="check-item">Spaghetti</span></mat-checkbox>
                </div>
                <div class="item-name">
                    <mat-checkbox color="primary" ><span class="check-item">Spaghetti</span></mat-checkbox>
                </div>
                <div class="item-name">
                    <mat-checkbox color="primary" ><span class="check-item">Spaghetti</span></mat-checkbox>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <button class="order-type-header">Item Price</button>
                <div class="item-price">$24</div>
                <div class="item-price">$14</div>
                <div class="item-price">$04</div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <button class="order-type-header">Visitor Name</button>
                <div class="item-price">John</div>
                <div class="item-price">Mark</div>
                <div class="item-price">Alexa</div>
            </div>
        </div>
        <div class="check-details-container mt-5 mb-5">
            <div class="check-details">
                <div class="check-heading ">Discount:</div>
                <div class="check-value ">10%</div>
            </div>
            <div class="check-details">
                <div class="check-heading ">Selected:</div>
                <div class="check-value ">$23</div>
            </div>
            <div class="check-details">
                <div class="check-heading ">Total:</div>
                <div class="check-value ">$235</div>
            </div>
        </div>
        <div class="check-btn-container">
            <button class="check-btn select-btn">Select/Unselect all</button>
            <button class="check-btn pay-btn" data-bs-target="#paymentModal" data-bs-toggle="modal">Pay for Selected</button>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="paymentModal" aria-hidden="true" aria-labelledby="transferOrderModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="transferOrderModalLabel2">Payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">Amount: BNG 350</div>
        </div>
        <div class="modal-footer justify-content-center">
          <button class="transfer-btn" data-bs-dismiss="modal">IN CASH</button>
          <button class="cancel-btn" data-bs-dismiss="modal">ON POS TERMINAL</button>
          <button class="cancel-btn" data-bs-dismiss="modal">PAYPAL</button>
        </div>
      </div>
    </div>
  </div>