// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $YettyCustomer-primary: mat.define-palette(mat.$indigo-palette);
// $YettyCustomer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $YettyCustomer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $YettyCustomer-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $YettyCustomer-primary,
//       accent: $YettyCustomer-accent,
//       warn: $YettyCustomer-warn,
//     ),
//   )
// );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($YettyCustomer-theme);

/* You can add global styles to this file, and also import other style files */
@import "/src/assets/scss/utilities";
@import "/src/assets/scss/chips";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

div {
  cursor: default;
}

:root {
  --yetty-green: #3fa72f;
  --yetty-yellow: #ffba33;
  --yetty-black: #2f2f2f;
  --yetty-text-white: #e3e2e0;
  --yetty-light-green: #ecf9f0;
  --yetty-red: #f02e22;
}

.check-item {
  font-size: 18px;
  font-weight: 600;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.mat-mdc-checkbox-checked .mdc-checkbox__background {
  border-color: var(--yetty-green) !important;
  background-color: var(--yetty-green) !important;
}

.red-snackbar {
  background: var(--yetty-red);
  color: var(--yetty-text-white);
  opacity: 0.7;
}

.green-snackbar {
  background: var(--yetty-green);
  color: var(--yetty-text-white);
  opacity: 0.7;
}

.mat-mdc-snack-bar-actions .mdc-button__label {
  color: var(--yetty-text-white);
}
